<section id="contact">
<div>
	<div class="container">		
		<div class="row">
		    <div class="col-lg-8 col-lg-offset-2">
			<br/><br/>
			<h2>문의하기</h2>
			<br/>
			<ul class="list-inline">
			    <li>
				<a href="tel:010-9034-7575">핸드폰 : 010-9034-7575</a>
			    </li>
			    <li class="footer-menu-divider">&sdot;&sdot;&sdot;&sdot;&sdot;&sdot;&sdot;&sdot;&sdot;&sdot;</li>
			    <li>
				<a href:"tel:031-292-2007">연략처 : 031-292-2007</a>
			    </li>
			</ul>
		    </div>
		</div>
	</div>
</div>
	
</section>
<!-- /.banner -->
